body {
    perspective: 900px;
}
#img_bim {
    display: block;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45vh;

    animation: rotate 5s infinite linear;
}
@keyframes rotate {
    from {
        transform: rotate3d(1, 1, 1, 0deg);
    }
    to {
        transform: rotate3d(-1, 1, -1, 360deg);
    }
}